<html>
<head>
</head>
<body>
    <header>
            <mat-toolbar color="primary">
                    <mat-toolbar-row>
                            <span>KONFIGURACJA RAPORTU</span>
                    </mat-toolbar-row>
            </mat-toolbar>
                <section class="container-form">
                                <input id="report" type="file" name="template" (change)="onFileChange($event)">
                                <label for="report" class="report">Wyślij szablon</label>
                                <a class="download_button" href="http://10.10.2.127:5000/download"  mat-raised-button >Pobierz Raport</a>               
                </section>
    </header>
</body>
</html>