<html>
<head>

</head>
<body>
    <header>
            <mat-toolbar color="primary">
                    <mat-toolbar-row>
                            <span>KONFIGURACJA RAPORTU</span>
                    </mat-toolbar-row>
            </mat-toolbar>
                <form>
                                <input id="report" type="file" (change)="onFileChange($evt)">
                                <label for="report" class="report">Wybierz plik</label>
                </form>
          
    </header>
</body>
</html>